* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --THEMECOLOR: #0021da;
}

body {
  background-color: #bfc4d1;
}

.page3 {
  display: none;
}

.page4 {
  display: none;
}

main {
  background-color: #ffffff;
  width: 400px;
  max-width: 500px;
  padding: 32px 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #b1b1b1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--THEMECOLOR);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.profile input {
  margin-top: 8px;
  color: var(--THEMECOLOR);
  font-size: .75rem;
  padding: 4px;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.nome {
  font-weight: 600;
  font-size: 1.15rem;
  color: var(--THEMECOLOR);
  margin-top: 12px;
}

.content {
  font-size: 0.80rem;
  font-weight: 600;
  color: #727272;
  margin: 8px;
}

.labelContent {
  font-size: .9rem;
  display: flex;
  flex-wrap: wrap;
}

.labelTitle {
  font-size: 0.85rem;
  font-weight: 600;
  color: #727272;
  margin-bottom: 10px;
}

.radio {
  display: flex;
  flex-direction: column;
}

.labelOption {
  font-size: .9rem;
  display: flex;
  gap: 6px;
  height: 35px;
}

#perguntaExtra {
  display: none;
}

.radio2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
}

input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  cursor: text;
  padding: 6px;
  margin-bottom: 16px;
}

input:focus {
  outline: none;
}

input[type="color"] {
  margin-top: 8px;
  width: 320px;
  height: 32px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type="color"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 16px;
  background-color: var(--THEMECOLOR);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  padding: 8px;
}

a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}


.goBack {
  margin-top: 16px;
  font-size: .9rem;
  color: var(--THEMECOLOR);
  display: flex;
  align-items: center;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 20;
}

