* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --THEMECOLOR: #0021da;
}

body {
  background-color: #bfc4d1;
}

main {
  background-color: #ffffff;
  width: 300px;
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #b1b1b1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 1.5rem;
  position: relative;
  border-bottom: 2px solid var(--THEMECOLOR);
}

form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control {
  position: relative;
}

.form-control label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #727272;
  margin-bottom: 4px;
  display: inline-block;
}

.form-control input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  cursor: text;
  padding: 6px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

.form-control .material-symbols-outlined {
  width: 10px;
  position: absolute;
  top: 29px;
  right: 18px;
  visibility: hidden;
}

.form-control.success .material-symbols-outlined.success {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error .material-symbols-outlined.error {
  visibility: visible;
  color: #e74c3c;
}

.form-control small {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  color: red;
  visibility: visible;
}

input:focus {
  outline: none;
}

.submit {
  margin-top: 16px;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px;
  background-color: #3d38ff;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: flex;
}

.login {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #727272;
  font-weight: 600;
  height: 40px;
}

.error-message {
  margin-top: 16px;
  font-size: 0.8rem;
  color: red;
}
